<div class="title-block">
  <h3 class="title pull-left">
    Страница истории <span class="sparkline bar"></span>
  </h3>
</div>
<div class="pull-right">
  <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
    <i class="fa fa-filter"></i>
  </button>
</div>

<div *ngIf="!isLoading" class="text-center">
  <wfm-loader></wfm-loader>
</div>
<div *ngIf="isLoading">
  <wfm-history-chart [data]="chartData"></wfm-history-chart>

  <wfm-history-events
    [categories]="categories"
    [events]="filteredEvents">
  </wfm-history-events>

  <div *ngIf="isFilterVisible">
    <wfm-history-filter
      (onFilterApply)="onFilterApply($event)"
      (onFilterCancel)="onFilterCancel()"
      [categories]="categories"
    ></wfm-history-filter>
  </div>
</div>
